/* 全局样式 */
html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.ql-editor{
    min-height: 300px;
}
.el-card{
    margin-top: 15px;
}
.el-table{
    font-size: 13px;
    margin: 15px 0;
}